body {
  font-family: Arial, sans-serif;
  background-image: url("https://incuyo.edu.ar/assets/img/logo.png");
  background-repeat: no-repeat;  
  background-position: center;   
  background-size: cover;        
  margin: 0;
  padding: 0;
  color: #333;
  text-align: center;
}

h1 {
  color: #0066cc;
  margin-top: 40px;
}

p {
  font-size: 18px;
}

img {
  width: 200px;
  border-radius: 10px;
  margin-top: 15px;
}
